.dialog .header {
  font-size: 14px;
}
.dialog {
  background-color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.dialog .content {
  padding: 10px;
}
.dialog .header {
  text-align: center;
  font-weight: bold;
  background-color: #a6a6a6;
  background: -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#bfbfbf));
  background: -webkit-linear-gradient(top, #a6a6a6, #bfbfbf);
  background: -moz-linear-gradient(top, #a6a6a6, #bfbfbf);
  background: -ms-linear-gradient(top, #a6a6a6, #bfbfbf);
  background: -o-linear-gradient(top, #a6a6a6, #bfbfbf);
  padding: 10px;
}
.dialog button {
  background-color: #404040;
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#595959));
  background: -webkit-linear-gradient(top, #404040, #595959);
  background: -moz-linear-gradient(top, #404040, #595959);
  background: -ms-linear-gradient(top, #404040, #595959);
  background: -o-linear-gradient(top, #404040, #595959);
  color: white;
  padding: 10px;
}
.dialog button:hover {
  background-color: #595959;
  background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#404040));
  background: -webkit-linear-gradient(top, #595959, #404040);
  background: -moz-linear-gradient(top, #595959, #404040);
  background: -ms-linear-gradient(top, #595959, #404040);
  background: -o-linear-gradient(top, #595959, #404040);
}
.dialog button:active {
  -webkit-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
}
