html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.invisible {
  display: none;
}
.font-small {
  font-size: 11px;
}
.font-medium {
  font-size: 14px;
}
.font-big {
  font-size: 18px;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.aligner-start {
  align-items: flex-start;
  justify-content: flex-start;
}
.aligner-center {
  align-items: center;
  justify-content: center;
}
.aligner-end {
  align-items: flex-end;
  justify-content: flex-end;
}
.align-hor-center {
  justify-content: center;
}
.align-ver-center {
  align-items: center;
}
body * {
  font-family: 'Open Sans', 'sans', 'Arial';
  color: #274929;
  outline: none;
  font-size: 16px;
}
body button {
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid #cacab9;
}
body input {
  height: 44px;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  font-family: Arial, sans-serif;
}
menu ~ * {
  flex: 1 100%;
}
